<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SaveMyRPGClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SaveMyRPGClient.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="JwtTokenString" serializeAs="String">
                <value />
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value>Bert</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>bshafer93@gmail.com</value>
            </setting>
            <setting name="RememberLogin" serializeAs="String">
                <value>False</value>
            </setting>
        </SaveMyRPGClient.Properties.Settings>
    </userSettings>
</configuration>